<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Nintendo Switch Content</title>

    <script src="../static/js/showTables.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Missing Nintendo Switch Content</h1>

    {# <div class="stats">
        <div>Missing Titles: 995</div>
        <div>Missing DLCs: 4679</div>
        <div>Missing Updates: 285</div>
    </div> #}

    <div class="table-buttons">
        <button onclick="showTable('missingtitlesContainer')">Show Missing Titles</button>
        <button onclick="showTable('missingdlcsContainer')">Show Missing DLCs</button>
        <button onclick="showTable('missingupdatesContainer')">Show Missing Updates</button>
    </div>

    <div class="container">
        {% set tables = {
            'titles': 'Missing Titles',
            'updates': 'Missing Updates',
            'dlcs': 'Missing DLCs',
        } %}
        {% for table_name, button_title in tables.items() %}
            
            <div class="table-container" id="missing{{table_name}}Container" style="display: {%if table_name == 'titles'%} block {%else%} none {%endif%};">
                <h2>{{button_title}}</h2>
                {# <input type="text" id="missing{{table_name}}Search"
                    onkeyup="if (!window.__cfRLUnblockHandlers) return false; searchTable('missing{{table_name}}')"
                    placeholder="Search {{button_title}}..."
                > #}
                <table id="missing{{table_name}}Table">
                    
                    {% if table_name == 'titles' %}
                        <thead><tr></tr><th>Icon</th><th>Title ID</th><th>Title Name</th><th>Release Date</th></tr></thead>
                        <tbody>
                            {% for tid, title in missing['missing-titles'].items() %}
                                <tr>
                                    <td><img src="https://tinfoil.media/ti/{{tid}}/100/100/" class="icon" alt="{{title.get('Title Name', '')}}"></td>
                                    <td><a href="https://tinfoil.io/Title/{{tid}}" target="_blank">{{tid}}</a></td>
                                    <td>{{title.get('Title Name', '')}}</td>
                                    <td>{{title.get('Release Date', '')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    {% elif table_name == 'updates' %}
                        <thead><tr></tr><th>Title ID</th><th>Game Name</th><th>Version</th><th>Release Date</th></tr></thead>
                        <tbody>
                            {% for tid, title in missing['missing-updates'].items() %}
                                <tr>
                                    <td><a href="https://tinfoil.io/Title/{{tid}}" target="_blank">{{tid}}</a></td>
                                    <td>{{title.get('Game Name', '')}}</td>
                                    <td>{{title.get('Version', '')}}</td>
                                    <td>{{title.get('Release Date', '')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    {% elif table_name == 'dlcs' %}
                        <thead><tr></tr><th>Title ID</th><th>Publisher</th><th>Size</th><th>Release Date</th></tr></thead>
                        <tbody>
                            {% for tid, title in missing['missing-dlcs'].items() %}
                                <tr>
                                    <td><a href="https://tinfoil.io/Title/{{tid}}" target="_blank">{{tid}}</a></td>
                                    <td>{{title.get('Publisher', '')}}</td>
                                    <td>{{title.get('Size', '')}}</td>
                                    <td>{{title.get('Release Date', '')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    {% endif %}
                </table>

            </div>
        {% endfor %}
    </div>

</body>
</html>